<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<title>Stockify!</title>
</head>

<body>
	<div id="main-container">
	<div id="header">
		<h1>Stockify!</h1>
	</div>
	<div id="navigaion">
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><a href="stocks.html"> Stock Updates </a></li>
			<li><a href="#"> Add To Portfolio </a></li>
			<li><a href="login.html"> Login/New User </a></li>
		</ul>
	</div>
	<div id="about">
		<h2> Stock information form </h2>
		<p> Please use the form below to input your stock information: </p>
		<form method="post" action="">
		Stock Ticker: <input type="text" maxlength="5" size="3" name="ticker" /><br />
		Number owned: <input type="text" size="3" name="numOwned" /><br />
		Total Price: <input type="text" readonly size="5"><br />
		<input type="submit" name="submit" />
		</form>
	</div>
	</div>
</body>
</html>
