
{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->
        <h1>New User</h1>
        <form method="post" action="/newUser">
    <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" size="40" ></p>
    <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="pw" size="40" /></p>
    <p>
    <label for="passwordre">Re-Enter Password:</label>
    <input type="password" id="passwordre" name="passwordre" size="40" /></p>

    <p><input type="submit" value="submit" name="submit" /></p>
  </form>
        
        
 
        
{% endblock %}