
{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->
  <h1>Stock Report</h1>

{% if error %}
  <h1><strong>Error: </strong> {{ error }}</h1>
{% endif %}

<h1>Stocks</h1>
<table>
	<tr><th>Symbol</th><th>Name</th><th>Price</th><th>Number Owned</th><th>Total Price</th></tr>
	{% for row in rows %}
		<tr><td>{{row['symbol']}}</td><td>{{row['name']}}</td><td>{{row['price']}}</td><td>{{row['amount']}}</td><td>{{row['total']}}</td></tr>
	{% endfor %}
</table>

<h1>Add a New Stock</h1>
  <form method="post" action="/stockReport">
    <p>
      <label for="symbol">Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol" size="40" >
    </p>
    <p>
      <label for="name">Stock Name:</label>
      <input type="text" id="name" name="name" size="40" />
    </p>
    <p>
      <label for="numOwned">Number Owned:</label>
      <input type="text" id="numOwned" name="numOwned" size="40" />
    </p>

    <p>
      <input type="submit" value="submit" name="submit" />
    </p>
  </form>




{% endblock %}
